<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.provider.demo.mapper.UserMapper">
    <resultMap id="user" type="com.provider.demo.pojo.User">
        <id column="u_id" property="uId" />
        <result column="u_name" property="uName"/>
    </resultMap>

    <insert id="insertUser" parameterType="com.provider.demo.pojo.User" >
        insert into t_user(u_name) values(#{uName})
    </insert>

    <select id="selectList" parameterType="com.provider.demo.pojo.User" resultMap="user">
        select u_id,u_name from t_user
        <where>
            <if test="uId!=null">and u_id = #{uId}</if>
            <if test="uName!=null and uName!=''">and u_name = #{uName}</if>
        </where>
    </select>

    <update id="updateUser" parameterType="com.provider.demo.pojo.User">
        update t_user set u_name = #{uName} where u_id = #{uId}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_user where u_id = #{uId}
    </delete>

</mapper>